<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        html{
            background-color: black;
        }
        tr{
            color: white;
        }
        .prodList{
            grid-template: repeat(3, 1fr);
        }
    </style>
</head>
<body>
<header>
    <div th:include="fragments/header.html"></div>

</header>

<!--<div th:include="fragments/sidebar.html"></div>-->

<table align="center" border="1">
    <tr>
        <th>메뉴번호</th>
        <th>메뉴이름</th>
        <th>메뉴가격</th>
        <th>카테고리코드</th>
        <th>판매상태</th>
        <th>판매상태</th>
    </tr>
    <tr th:each="product : ${ productList }">
        <td th:text="${ product.productNo }"></td><!--dto의 필드명호출, getter없으면 에러남 내부에서 getter호출 -->
        <td th:text="${ product.productName }"></td>
        <td th:text="${ product.productPrice }"></td>
        <td th:text="${ product.productDesc }"></td>
        <td th:text="${ product.productQty }"></td>
        <td th:text="${ product.categoryCode }"></td>
    </tr>
</table>
<div class="prodList">
    <div class="prod" th:each="product : ${ productList }">
        <div th:src="@{/img/}"></div>
        <div th:text="${product.productName}"></div>
        <div th:text="${product.productPrice}"></div>
        <div th:include="fragments/button.html"></div>

    </div>
</div>
<button onclick="location.href='/product/regist'">상품등록</button>
<button onclick="location.href='/product/edit'">상품정보수정</button>
<button onclick="location.href='/product/delete'">상품삭제</button>
<div th:src="@{${item.getImgPath()}}"></div>
<!--<footer>-->
    <div th:include="fragments/footer.html"></div>

<!--</footer>-->
</body>
</html>