/*페이지 설정*/
body{
    background-color: black;
    color: white;
}
/*전체 폰트 설정*/
@font-face {
    font-family: 'BodoniXT'; /*font 이름*/
    src: url(../../../font/BodoniXT.ttf);
}
body{
    font-family: BodoniXT, sans-serif;
    font-size: 1em;
    letter-spacing : 1px;
}
/*파트별 폰트 크기 설정*/
.big-font{
    font-size: 3em;
}
.menu{
    font-size: 2em;
}
.mid-font{
    font-size: 1.5em;
}
/*인풋, 입력*/
.text-input {
    width: 100%;
    border-top: none;
    border-left:none;
    border-right: none;
    border-bottom: solid 1px gray;
    background-color: transparent;
    color: white;
}
.text-input::placeholder {
    color: gray;
}
.text-input:focus{
    outline: none;   /* 아웃라인 지우기 */
    border-bottom: solid 1px #FFD700;
    color: #FFD700;
}
textarea {
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 5px;
    resize: none;
    background-color: transparent;
    color: white;
}
textarea:focus{
    outline: none;   /* 아웃라인 지우기 */
    border: solid 1px #FFD700;
    color: #FFD700;
}

input[type=radio]{
    display: none;
}
.active-label{
    color: #FFD700;

    &:before{
        background: #FFD700;
        border-color: #FFD700;
    }
}
.custom-radio{
    font-size: 1rem;
    font-weight: bold;
    line-height: 1;
    cursor: pointer;
    display: block;
    padding: 1rem 1rem 1rem 3rem;
    position: relative;
    border-top: 1px solid rgba(black,.1);
    whitespace: no-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all .15s ease;

    &:focus,
    &:hover,
    &:active{
        @extend .active-label;
    }

    &:first-of-type{
        border: 0;
    }

    /**
     * This is the radio fake dot basically
     */
    &:before{
        content: "";
        position: absolute;
        left: 1rem;
        top: 1rem;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: .2rem solid #ccc;
    }
}

/**
 * How it should look when checked
 */
input[type="radio"]:checked+.custom-radio{
    @extend .active-label;

    &:before{
        border: none white;
        background: #FFD700;
    }
}

/*구분선*/
.line{
    border: solid 1px gray;
    background-color: white;
}
.thick-line{
    border: solid 2px white;
    background-color: white;
}
/*버튼*/
button{
    width: 150px;
    height: 50px;
    border: solid #FFD700 2px;
    background: transparent;
    color: white;
    transition:all 0.9s, color 0.3s;
    overflow: hidden;
}
/*좌우에서 오는 효과*/
/*button:hover{*/
/*    color: black;*/
/*    box-shadow: 150px 0 0 0 #FFD700 inset,*/
/*    -150px 0 0 0 #FFD700 inset;*//*}*//*button:hover{*/
/*    color: black;*/
/*    box-shadow: 1000px 0 0 0 #FFD700 inset;*/
/*}*/
button,button::after {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;}
button {
    background: none;
    display: block;
    position: relative;
}
button::before,button::after {
    background: #FFD700;
    content: '';
    position: absolute;
    z-index: -1;
}
button:hover {
    color: black;
}
button::after {
    height: 100%;
    left: -5%;
    top: 0;
    transform: skew(-50deg);
    transition-duration: 0.6s;
    transform-origin: top left;
    width: 0;
}
button:hover:after {
    height: 100%;
    width: 135%;
}
/*이미지*/
.product{
    width: 128px;
    height: 128px;
}
/*이미지 박스*/
.paymentImgBox{
    position: relative;
    border-radius: 5px;
    height: 100px;
    width: 200px;
    overflow: hidden;
    border: solid 2px #FFD700;
}
.paymentImg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*수직 정렬*/
.v-align{
    word-wrap: break-word;
    align-self: center;
}
/*가격 우측 정렬*/
.price{
    text-align: right;
}