<html layout:decorate="~{/common/layout}" lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<div layout:fragment="content" class="container">
    <h5 class="my-3 border-bottom pb-2">블로그 게시</h5>
    <form th:object="${blogForm}" method="post" enctype="multipart/form-data">
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
            <div th:each="err : ${#fields.allErrors()}" th:text="${err}" />
        </div>
        <div class="mb-3">
            <label for="blogTitle" class="form-label">제목</label>
            <input type="text"  th:field="*{blogTitle}"  class="form-control">
        </div>
        <div class="mb-3">
            <label for="blogContent" class="form-label">내용</label>
            <textarea th:field="*{blogContent}" class="form-control" rows="10"></textarea>
        </div>
        <div class="mb-3">
            <input type="file" name="file"><br>
        </div>
        <input type="submit" value="저장하기" class="btn btn-primary my-2">
    </form>
</div>
</html>