<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
    <h1>Apollo</h1>
    <button onclick="location.href='/order/regist'">주문하기</button>

    <hr>
    <button onclick="location.href='/cart/trolley'">장바구니 조회</button>
    <button onclick="location.href='/cart/order'">주문 정보 입력</button>
    <button onclick="location.href='/cart/payment'">결제</button>
    <button onclick="location.href='/cart/success'">결제 성공</button>
    <button onclick="location.href='/cart/fail'">결제 실패</button>
</body>
</html>