<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--  xml 파일을 사용할 mapper가 있는 경로 -->
<mapper namespace="com.b4.apollo.qna.model.dao.BoardMapper">
	<resultMap id="boardResultSet" type="com.b4.apollo.qna.model.dto.QuestionDTO">
		<id column="BOARD_NO" property="boardNo"/>
		<result column="USER_ID" property="userId"/>
		<result column="BOARD_TITLE" property="boardTitle"/>
		<result column="BOARD_CONTENT" property="boardContent"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="COUNT" property="count"/>
		<result column="STATUS" property="status"/>
	</resultMap>

	<!-- 게시글 수 카운트 -->

	<update id="updateCount" parameterType="_int">
		UPDATE TBL_QUESTION
		SET COUNT = COUNT + 1
		WHERE BOARD_NO = #{bno}
		  AND STATUS='Y'
	</update>


	<!-- 전체 게시글 조회 -->
	<select id="selectList" resultMap="boardResultSet">
		SELECT *
		FROM TBL_QUESTION
		WHERE STATUS = 'Y'
-- 		ORDER BY BOARD_NO DESC
		ORDER BY ORIGINAL_NO DESC, GROUP_ORD ASC
	</select>

	<!-- 게시글 상세보기 -->
	<select id="selectBoard" resultMap="boardResultSet" parameterType="_int">
		SELECT *
		FROM TBL_QUESTION
		WHERE BOARD_NO = #{bno}
		  AND STATUS='Y'
	</select>

	<!-- 게시글 등록 -->
	<insert id="insertBoard" parameterType="com.b4.apollo.qna.model.dto.QuestionDTO">
		INSERT INTO TBL_QUESTION
		VALUES
			(SEQ_QNA_NO.NEXTVAL, #{userId}, #{boardTitle}, #{boardContent}, SYSDATE, DEFAULT, DEFAULT)
	</insert>

	<!-- 게시글 수정 -->
	<update id="updateBoard" parameterType="com.b4.apollo.qna.model.dto.QuestionDTO">
		UPDATE TBL_QUESTION
		SET BOARD_TITLE=#{boardTitle}, BOARD_CONTENT= #{boardContent}
		WHERE BOARD_NO=#{boardNo}
		  AND STATUS='Y'
	</update>

	<!-- 게시글 삭제 -->
	<update id = "deleteBoard" parameterType="_int">
		UPDATE TBL_QUESTION
		SET STATUS= 'N'
		WHERE BOARD_NO=#{boardNo} AND STATUS='Y'

	</update>

	<update id = "addReplyBoard" parameterType="com.b4.apollo.qna.model.dto.QuestionDTO">
		UPDATE TBL_QUESTION
		SET GROUP_ORD = GROUP_ORD + 1
		WHERE ORGIN_NO = #{originNo}
		AND GROUP_ORD > #{groupOrd}

	</update>
</mapper>