<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--  xml 파일을 사용할 mapper가 있는 경로 -->
<mapper namespace="boardMapper">
	<resultMap id="boardResultSet" type="Board">
		<id column="BOARD_NO" property="boardNo"/>
		<result column="USER_ID" property="userId"/>
		<result column="BOARD_TITLE" property="boardTitle"/>
		<result column="BOARD_CONTENT" property="boardContent"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="COUNT" property="count"/>
		<result column="STATUS" property="status"/>
	</resultMap>
	<resultMap id="replyResultSet" type="Reply">
		<id column="REPLY_NO" property="replyNo"/>
		<result column="BOARD_NO" property="boardNo"/>
		<result column="REPLY_CONTENT" property="replyContent"/>
		<result column="REPLY_DATE" property="createDate"/>
	</resultMap>


<!-- 게시글 수 카운트 -->
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		FROM TBL_QUESTION
		WHERE STATUS = 'Y'
	</select>

	<update id="increaseCount" parameterType="_int">
		UPDATE TBL_QUESTION
		SET COUNT = COUNT + 1
		WHERE BOARD_NO = #{bno}
		  AND STATUS='Y'
	</update>


	<!-- 전체 게시글 조회 -->
	<select id="selectList" resultMap="boardResultSet">
		SELECT *
		FROM TBL_QUESTION
		WHERE STATUS = 'Y'
		ORDER BY BOARD_NO DESC
	</select>

<!-- 게시글 상세보기 -->
	<select id="selectBoard" resultMap="boardResultSet" parameterType="_int">
		SELECT *
		FROM TBL_QUESTION
		WHERE BOARD_NO = #{bno}
		AND STATUS='Y'
	</select>

	<!-- 게시글 등록 -->
	<insert id="insertBoard" parameterType="Board">
		INSERT INTO TBL_QUESTION
		VALUES
			(SEQ_QNA_NO.NEXTVAL, 'USER01', #{boardTitle}, #{boardContent}, SYSDATE, DEFAULT, DEFAULT)
	</insert>

	<!-- 게시글 수정 -->
	<update id="updateBoard" parameterType="Board">
		UPDATE TBL_QUESTION
		SET BOARD_TITLE=#{boardTitle}, BOARD_CONTENT= #{boardContent}
		WHERE BOARD_NO=#{boardNo}
		AND STATUS='Y'
	</update>

<!-- 게시글 삭제 -->
	<update id = "deleteBoard" parameterType="_int">
		UPDATE TBL_QUESTION
		SET STATUS= 'N'
		WHERE BOARD_NO=#{boardNo} AND STATUS='Y'

	</update>

	<!-- 답변 -->
	<insert id="insertReply" parameterType="Reply">
		INSERT INTO TBL_QUESTION_REPLY
		VALUES
			(SEQ_REP_NO.NEXTVAL, #{replyContent}, SYSDATE , #{boardNo})

	</insert>


	<select id="selectReplyList" parameterType="_int" resultMap="replyResultSet">
		<![CDATA[
		SELECT
		       REPLY_NO,
			   REPLY_CONTENT,
			   REPLY_DATE
		FROM TBL_QUESTION_REPLY
		WHERE BOARD_NO = #{bno}
		]]>

	</select>
</mapper>
