<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--  xml 파일을 사용할 mapper가 있는 경로 -->
<mapper namespace="com.b4.apollo.model.dao.BoardMapper">
<!--<resultMap id="boardResultSet" type="Question">-->
<!--			<id property="boardNo" column="QNA_no" />-->
<!--			<result property="boardWriter" column="USER_ID" />-->
<!--			<result property="boardTitle" column="QNA_TITLE"/>-->
<!--			<result property="boardContent" column="QNA_CONTENT" />-->
<!--			<result property="createDate" column="QNA_POSTDATE" />-->

<!--	</resultMap>-->

<!-- <select> 태그를 이용하여 select 쿼리임을 나타냄. 앞서 mapper에서 말했던 메소드의 이름은 select 쿼리의 id값과 같아야함. -->
	<select id="selectBoardList" resultType="com.b4.apollo.qna.model.dto.Question">
			SELECT
				*
			FROM
				TBL_QUESTION
	</select>

 </mapper>