<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--  xml 파일을 사용할 mapper가 있는 경로 -->
<mapper namespace="com.b4.apollo.cart.model.dao.CartMapper">
	<!--카트 정보를 담을 resultMap-->
	<resultMap id="cartResultMap" type="com.b4.apollo.cart.model.dto.CartDTO">
		<id property="cartNo" column="CART_NO"/>
		<result property="userId" column="USER_ID"/>
		<result property="productCount" column="PRODUCT_COUNT"/>
		<result property="regDate" column="REG_DATE"/>
		<result property="checkStatus" column="CHECK_STATUS"/>
		<association property="productInfo" javaType="com.b4.apollo.product.model.dto.ProductDTO">
			<id property="productNo" column="PRODUCT_NO"/>
			<result property="productName" column="PRODUCT_NAME"/>
			<result property="productPrice" column="PRODUCT_PRICE"/>
			<result property="productDesc" column="PRODUCT_DESC"/>
			<result property="productQty" column="PRODUCT_QTY"/>
			<result property="categoryCode" column="CATEGORY_CODE"/>
		</association>
	</resultMap>
	<!--유저 정보를 담을 resultMap-->
	<resultMap id="userResultMap" type="com.b4.apollo.user.model.dto.UserDTO">
		<id property="userId" column="USER_ID"/>
		<result property="userPwd" column="USER_PWD"/>
		<result property="userName" column="USER_NAME"/>
		<result property="userTel" column="USER_TEL"/>
		<result property="userAddr" column="ADDRESS"/>
		<result property="userEmail" column="USER_EMAIL"/>
		<result property="userRole" column="USER_ROLE"/>
		<result property="userActive" column="USER_ACTIVE"/>
		<result property="userEntdate" column="USER_ENTDATE"/>
		<result property="point" column="USER_POINT"/>
	</resultMap>
	<!--결제 정보를 담을 resultMap-->
	<resultMap id="paymentResultMap" type="com.b4.apollo.cart.model.dto.PaymentDTO">
		<id property="paymentNo" column="PAYMENT_NO"/>
		<result property="userId" column="USER_ID"/>
		<result property="usedPoint" column="USED_POINT"/>
		<result property="paymentAmount" column="PAYMENT_AMOUNT"/>
		<result property="paymentMethod" column="PAYMENT_METHOD"/>
		<result property="receiverName" column="RECEIVER_NAME"/>
		<result property="receiverTel" column="RECEIVER_TEL"/>
		<result property="address" column="ADDRESS"/>
		<result property="paymentDate" column="PAYMENT_DATE"/>
		<result property="shippingStatus" column="SHIPPING_STATUS"/>
		<result property="deliveryRequires" column="DELIVERY_REQUIRES"/>
	</resultMap>
	<!--주문 정보를 담을 resultMap-->
	<resultMap id="orderResultMap" type="com.b4.apollo.cart.model.dto.OrderDTO">
<!--		<id property="orderNo" column="ORDER_NO"/>-->
		<result property="paymentNo" column="PAYMENT_NO"/>
		<result property="cartNo" column="CART_NO"/>
	</resultMap>
	<!-- <select> 태그를 이용하여 select 쿼리임을 나타냄. 앞서 mapper에서 말했던 메소드의 이름은 select 쿼리의 id값과 같아야함. -->
	<!-- 장바구니에 품목추가 -->
	<insert id="addProductToCart" parameterType="hashmap">
		INSERT INTO TBL_CART
		VALUES
			(
				SEQ_CART_NO.NEXTVAL,
				#{ productNo },
				#{ userId },
				#{ productCount },
				SYSDATE
			)
	</insert>
	<!--userId를 사용해 카트 정보를 조회-->
	<select id="getCartList" parameterType="hashmap" resultMap="cartResultMap">
		SELECT
			A.CART_NO,
			A.USER_ID,
			A.PRODUCT_COUNT,
			A.REG_DATE,
			A.CHECK_STATUS,
			B.*
		FROM TBL_CART A
		JOIN TBL_PRODUCT B ON A.PRODUCT_NO = B.PRODUCT_NO
		WHERE 1 = 1
		  AND A.USER_ID = #{userId}
		  AND A.PURCHASE_STATUS = 'N'
	</select>
	<!--userId를 사용해 체크된 카트 정보를 조회-->
	<select id="getCheckedCartList" parameterType="hashmap" resultMap="cartResultMap">
		SELECT
			A.CART_NO,
			A.USER_ID,
			A.PRODUCT_COUNT,
			A.REG_DATE,
			A.CHECK_STATUS,
			B.*
		FROM TBL_CART A
		JOIN TBL_PRODUCT B ON A.PRODUCT_NO = B.PRODUCT_NO
		WHERE 1 = 1
		  AND A.USER_ID = #{userId}
		  AND A.CHECK_STATUS = 'Y'
		  AND A.PURCHASE_STATUS = 'N'
	</select>
	<!--주문 수량 수정-->
	<update id="updateProductCount" parameterType="hashmap">
		UPDATE TBL_CART A
		SET A.PRODUCT_COUNT = #{count}
		WHERE A.CART_NO = #{cartNo}
	</update>
	<!--체크 상태 수정-->
	<update id="updateCheckStatus" parameterType="hashmap">
		UPDATE TBL_CART A
		SET A.CHECK_STATUS = #{check}
		WHERE A.CART_NO = #{cartNo}
	</update>
	<!--장바구니에서 품목 삭제-->
	<delete id="deleteProductInCart" parameterType="Integer">
		DELETE FROM TBL_CART A
		WHERE A.CART_NO = #{ cartNo }
	</delete>
	<!--userId 통해 해당 유저의 상세 정보를 조회-->
	<select id="getUserDetail" parameterType="String" resultMap="userResultMap">
		SELECT
			A.USER_ID,
			A.USER_PWD,
			A.USER_NAME,
			A.USER_TEL,
			A.ADDRESS,
			A.USER_EMAIL,
			A.USER_ROLE,
			A.USER_ACTIVE,
			A.USER_ENTDATE,
			A.USER_POINT
		FROM TBL_USER A
		WHERE A.USER_ID = #{userId}
		  AND A.USER_ACTIVE = 'Y'
	</select>
	<!--결제테이블에 결제 정보 등록-->
	<insert id="payment" parameterType="com.b4.apollo.cart.model.dto.PaymentDTO">
		INSERT INTO TBL_PAYMENT
		VALUES
		    (
		    	SEQ_PAYMENT_NO.NEXTVAL,
		     	#{userId},
		     	#{usedPoint},
		     	#{paymentAmount},
		     	#{paymentMethod},
		     	#{receiverName},
		     	#{receiverTel},
		     	#{address},
				SYSDATE,
		     	'배송 준비중',
		     	#{deliveryRequires}
			)
	</insert>
	<!--상품 재고 조회-->
	<select id="getProductQty" parameterType="int" resultType="int">
		SELECT A.PRODUCT_QTY
		FROM TBL_PRODUCT A
		WHERE A.PRODUCT_NO = #{productNo}
	</select>
	<!--상품 재고 수량 수정-->
	<update id="updateProductQty" parameterType="hashmap">
		UPDATE TBL_PRODUCT A
		SET A.PRODUCT_QTY = (A.PRODUCT_QTY-#{productCount})
		WHERE A.PRODUCT_NO = #{productNo}
	</update>
<!--	결제 번호, 카트 번호를 주문 테이블에 등록-->
	<insert id="order" parameterType="java.util.List">
		<foreach collection="list" item="cart" open="INSERT ALL" close="" separator=" ">
			INTO TBL_ORDER (
-- 							ORDER_NO,
							PAYMENT_NO,
							CART_NO
				) VALUES (
-- 							GET_SEQ,
							SEQ_PAYMENT_NO.CURRVAL,
							#{cart.cartNo}
						)
		</foreach>
		SELECT SYSDATE
		FROM DUAL
	</insert>
	<!--paymentNo를 통해 결제 정보를 조회-->
	<select id="getPaymentDetailByPaymentNo" parameterType="int" resultMap="paymentResultMap">
		SELECT
			A.PAYMENT_NO,
			A.USER_ID,
			A.USED_POINT,
			A.PAYMENT_AMOUNT,
			A.PAYMENT_METHOD,
			A.RECEIVER_NAME,
			A.RECEIVER_TEL,
			A.ADDRESS,
			A.PAYMENT_DATE,
			A.SHIPPING_STATUS,
			A.DELIVERY_REQUIRES
		FROM TBL_PAYMENT A
		WHERE A.PAYMENT_NO = #{paymentNo}
	</select>
	<!--해당 카트 품목을 구매상태로 변경-->
	<update id="buyCartItem" parameterType="int">
		UPDATE TBL_CART A
		SET A.PURCHASE_STATUS = 'Y'
		WHERE A.CART_NO = #{cartNo}
	</update>
	<!--cartNo를 통해 결제 번호를 조회-->
	<select id="getPaymentNo" parameterType="Integer" resultType="hashmap">
		SELECT A.PAYMENT_NO
		FROM TBL_ORDER A
		WHERE A.CART_NO = #{cartNo}
	</select>
	<!--userId를 통해 결제 정보를 조회-->
	<select id="getPaymentDetailByUserId" parameterType="hashmap" resultMap="paymentResultMap">
		SELECT
			A.PAYMENT_NO,
			A.USER_ID,
			A.USED_POINT,
			A.PAYMENT_AMOUNT,
			A.PAYMENT_METHOD,
			A.RECEIVER_NAME,
			A.RECEIVER_TEL,
			A.ADDRESS,
			A.PAYMENT_DATE,
			A.SHIPPING_STATUS,
			A.DELIVERY_REQUIRES
		FROM TBL_PAYMENT A
	 	JOIN TBL_USER B ON A.USER_ID = B.USER_ID
		WHERE B.USER_ID = #{userId}
	</select>
	<!--userId를 통해 주문 정보를 조회-->
	<select id="getOrderDetail" parameterType="hashmap" resultMap="orderResultMap">
		SELECT
			A.ORDER_NO,
			B.PAYMENT_NO,
			C.CART_NO
		FROM TBL_ORDER A
	 	JOIN TBL_PAYMENT B ON A.PAYMENT_NO = B.PAYMENT_NO
		JOIN TBL_CART C ON A.CART_NO = C.CART_NO
		WHERE B.USER_ID = #{userId}
	</select>
</mapper>
