<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.b4.apollo.contact.model.dao.ContactMapper">
    <resultMap type="com.b4.apollo.contact.model.dto.ContactDTO" id="contactResultMap">
        <id property="contactNo" column="CONTACT_NO"/>
        <result property="contactName" column="COMNTACT_NAME"/>
        <result property="contactEmail" column="CONTACT_EMAIL"/>
        <result property="contactTitle" column="CONTACT_TITLE"/>
        <result property="contactContent" column="CONTACT_CONTENT"/>
    </resultMap>

    <select id="findAllContent" resultMap="contactResultMap">
        SELECT
            A.*
        FROM TBL_CONTACT A
        ORDER BY A.CONTACT_NO
    </select>

    <insert id="sendContent" parameterType="com.b4.apollo.contact.model.dto.ContactDTO">
        INSERT INTO TBL_CONTACT(

            A.CONTACT_NO,
            A.CONTACT_NAME,
            A.CONTACT_EMAIL,
            A.CONTACT_TITLE,
            A.CONTACT_CONTENT
        )
        VALUES
            (
            SEQ_PRODUCT_NO.NEXTVAL,
             #{contactName},
            #{contactEmail},
            #{contactTitle},
            #{contactContent}
            )
    </insert>
</mapper>