<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.b4.apollo.product.model.dao.ProductMapper">

    <resultMap type="com.b4.apollo.product.model.dto.ProdAndImageDTO" id="productResultMap">
        <id property="productNo" column="PRODUCT_NO"/>
        <result property="productName" column="PRODUCT_NAME"/>
        <result property="productPrice" column="PRODUCT_PRICE"/>
        <result property="productDesc" column="PRODUCT_DESC"/>
        <result property="productQty" column="PRODUCT_QTY"/>
        <result property="categoryCode" column="CATEGORY_CODE"/>

        <association property="category" column="{ categoryCode = CATEGORY_CODE }" javaType="com.b4.apollo.product.model.dto.CategoryDTO" resultMap="categoryResultMap">
<!--        <resultMap id="categoryResultMap" type="com.b4.apollo.product.model.dto.CategoryDTO">-->
            <id property="categoryCode" column="CATEGORY_CODE"/>
            <result property="categoryName" column="CATEGORY_NAME"/>
        </association>
<!--        </resultMap>-->
        <collection property="productImage" resultMap="imageResultMap"/>
    </resultMap>


    <resultMap id="imageResultMap" type="com.b4.apollo.product.model.dto.ProductImageDTO">
        <id property="fileNo" column="FILE_NO"/>
        <result property="originName" column="ORIGIN_NAME"/>
        <result property="storedName" column="STORED_NAME"/>
        <result property="isThumbnail" column="THUMBNAIL"/>
        <result property="productNo" column="PRODUCT_NO"/>
    </resultMap>


    <select id="productList" resultMap="productResultMap"><!-- ?????? ????-->
        SELECT
            A.*
            ,B.*
        FROM TBL_PRODUCT A
        JOIN TBL_PRODUCT_IMAGE B
        ON A.PRODUCT_NO = B.PRODUCT_NO
        WHERE A.PRODUCT_QTY > 0
        ORDER BY A.PRODUCT_NO
    </select>
    <select id="productDetail" resultMap="productResultMap"><!-- ?????? ????-->
        SELECT
            A.*
            ,B.*
        FROM TBL_PRODUCT A
        JOIN TBL_PRODUCT_IMAGE B
        ON A.PRODUCT_NO = B.PRODUCT_NO
        WHERE A.PRODUCT_NO = #{productNo}
    </select>


    <insert id = "registProduct">

        INSERT
        INTO TBL_PRODUCT A
            (
               A.PRODUCT_NO
             , A.PRODUCT_NAME
             , A.PRODUCT_PRICE
             , A.PRODUCT_DESC
             , A.PRODUCT_QTY
             , A.CATEGORY_CODE
        )
        VALUES
            (
            SEQ_PRODUCT_NO.NEXTVAL
                , #{ productName }
                , #{ productPrice }
                , #{ productDesc }
                , #{ productQty }
                , #{ categoryCode }

            )
<!--        <selectKey keyProperty="no" resultType="Integer" order="AFTER">-->
<!--            SELECT-->
<!--            SEQ_PRODUCT_NO_NO.CURRVAL-->
<!--            FROM DUAL-->
<!--        </selectKey>-->
    </insert>
    <insert id="addProductImage">
        INSERT
        INTO TBL_PRODUCT_IMAGE A
            (
          A.FILE_NO
        , A.ORIGIN_NAME
        , A.STORED_NAME
        , A.THUMBNAIL
        , A.PRODUCT_NO
        )
        VALUES
            (
            SEQ_FILE_NO.NEXTVAL
                , #{ originName }
                , #{ storedName }
                , #{ isThumbnail }
                , SEQ_PRODUCT_NO.CURRVAL
           )
    </insert>


    <!-- 예약 수정 -->
    <update id="editProduct">
        UPDATE TBL_PRODUCT A
            SET
            A.PRODUCT_NAME = #{ productName }
          , A.PRODUCT_PRICE = #{ productPrice }
          , A.PRODUCT_DESC = #{ productDesc }
          , A.PRODUCT_QTY = #{ productQty }
          , A.CATEGORY_CODE = #{ categoryCode }
        WHERE A.PRODUCT_NO = '2'

    </update>

    <!-- 예약 삭제 -->
    <delete id="productDelete" parameterType="_int">
        DELETE
        FROM TBL_PRODUCT
        WHERE PRODUCT_NO = '3'
    </delete>
</mapper>