<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.b4.apollo.user.model.dao.UserMapper">
    <resultMap type="com.b4.apollo.user.model.dto.UserDTO" id="loginUserResultMap">
        <id property="username" column="USER_ID"/>
        <result property="userNo" column="USER_NO"/>
        <result property="password" column="USER_PWD"/>
        <result property="memberName" column="USER_NAME"/>
        <result property="userTel" column="USER_TEL"/>
        <result property="userAddr" column="ADDRESS"/>
        <result property="userEmail" column="USER_EMAIL"/>
        <result property="userRole" column="ROLE_USER"/>
        <result property="userActive" column="USER_ACTIVE"/>
        <result property="userEntdate" column="USER_ENTDATE"/>
        <result property="point" column="USER_POINT"/>
<!--        <collection property="userDTOList" resultMap="userResultMap"/>-->
    </resultMap>


    <select id="userDetail" resultMap="loginUserResultMap">
        SELECT A.*
        FROM TBL_USER A
        WHERE A.USER_ID = #{username}
    </select>

    <select id="loginUser" resultMap="loginUserResultMap">
        SELECT A.*
        FROM TBL_USER A
        WHERE A.USER_ID = #{username}
    </select>

    <insert id="insertUser" parameterType="com.b4.apollo.user.model.dto.UserDTO">
        INSERT INTO TBL_USER
        VALUES
            (
            SEQ_USER_NO.NEXTVAL,
            #{username},
            #{password},
            #{memberName},
            #{userTel},
            #{userAddr},
            #{userEmail},
            'Y',
            1000,
            'ROLE_USER',
            DEFAULT
            )
    </insert>

<!--    <select id="idCheck" parameterType="String" resultType="_int">-->
<!--        SELECT COUNT(*) FROM TBL_USER A-->
<!--        WHERE A.USER_ID = #{userId}-->
<!--    </select>-->

    <update id="updateUser">
        UPDATE TBL_USER A
        SET
            A.USER_NAME = #{userName},
            A.USER_PWD = #{password},
            A.USER_TEL = #{userTel},
            A.USER_EMAIL = #{userEmail},
            A.ADDRESS = #{userAddr}
            WHERE A.USER_ID = #{username}
    </update>

    <delete id="deleteUser">
        DELETE FROM TBL_USER A
        WHERE A.USER_ID = #{username}
    </delete>


</mapper>