<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.b4.apollo.user.model.dao.UserMapper">
    <resultMap type="com.b4.apollo.user.model.dto.UserDTO" id="loginUserResultMap">
        <id property="userId" column="USER_ID"/>
        <result property="userPwd" column="USER_PWD"/>
        <result property="userName" column="USER_NAME"/>
        <result property="userTel" column="USER_TEL"/>
        <result property="userAddr" column="ADDRESS"/>
        <result property="userEmail" column="USER_EMAIL"/>
        <result property="userRole" column="USER_ROLE"/>
        <result property="userActive" column="USER_ACTIVE"/>
        <result property="userEntdate" column="USER_ENTDATE"/>
        <result property="point" column="USER_POINT"/>
    </resultMap>

    <select id="loginUser" resultMap="loginUserResultMap">
        SELECT A.*
        FROM TBL_USER A
        WHERE A.USER_ID = #{userId} AND A.USER_PWD = #{userPwd} AND A.USER_ACTIVE = 'Y'
    </select>

    <insert id="insertUser" parameterType="com.b4.apollo.user.model.dto.UserDTO">
        INSERT INTO TBL_USER A (
            A.USER_NAME,
            A.USER_ID,
            A.USER_PWD,
            A.USER_TEL,
            A.USER_EMAIL,
            A.ADDRESS,
            A.USER_ROLE,
            A.USER_ACTIVE,
            A.USER_ENTDATE,
            A.USER_POINT
            )
        VALUES
            (
            #{userName},
            #{userId},
            #{userPwd},
            #{userTel},
            #{userEmail},
            #{userAddr},
            'USER',
            'Y',
            SYSDATE,
            1000
            )
    </insert>

    <select id="idCheck" parameterType="String" resultType="_int">
        SELECT COUNT(*) FROM TBL_USER A
        WHERE A.USER_ID = #{userId}
    </select>

    <update id="updateUser" parameterType="com.b4.apollo.user.model.dto.UserDTO">
        UPDATE TBL_USER A
        SET
            A.USER_NAME = #{userName},
            A.USER_PWD = #{userPwd},
            A.USER_TEL = #{userTel},
            A.USER_EMAIL = #{userEmail},
            A.ADDRESS = #{userAddr},
            WHERE A.USER_ID = #{userId}
    </update>

    <delete id="deleteUser">
        DELETE * FROM TBL_USER A
        WHERE A.USER_ID = #{userId}
    </delete>


</mapper>