<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원정보수정</title>
</head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
<style>
  @font-face {
    font-family: 'BodoniXT'; /*font 이름*/
    src: url(/static/font/BodoniXT.ttf);
  }

  body {
    width: 100%;
    margin: 0 auto;
    background-color: #dcdcdc;
    font-family: BodoniXT;
    position: absolute;
  }
  h2{
      font-weight: bold;
  }
  label{
      font-weight: normal;
      font-size: 30px;

  }
</style>
<body>
    <div id="usermodify">
        <h1>회원정보수정</h1>
            <br>
        <div style="border: 1px solid black; border-right: none; border-left: none; width: 1027px">
            <form action="/user/update" method="post">
                <div>
                    <label for="userName">이름</label>
                    <input type="text" id="userName" name="userName" size="35" placeholder="NAME" maxlength="10" onfocus="this.placeholder = ''" required>
                </div>
                <div>
                    <label for="userPwd1">비밀번호</label>
                    <input type="password" name="userPwd" id="userPwd1" size="35"
                       placeholder="PASSWORD: 영문,숫자,특수문자 포함 8자 이상" minlength="8" onfocus="this.placeholder = ''" required>
                    <span id="spw" style="font-size: medium; font-weight: bold"></span>
                </div>
                <div>
                    <label for="userPwd2">비밀번호확인</label>
                    <input type="password" id="userPwd2" size="35" minlength="8" placeholder="CONFIRM PASSWORD"
                       onfocus="this.placeholder = ''" required>
                    <span id="spw2" style="font-size: medium; font-weight: bold"></span>
                </div>
                <div>
                    <label for="phone">연락처</label>
                    <input type="tel" id="phone" name="userTel"placeholder="PHONE" maxlength="15" size="35" onfocus="this.placeholder = ''" required>
                    <br>
                </div>
                <div>
                    <label for="user_email">이메일</label>
                    <input type="text" id="user_email"  placeholder="EMAIL" style="position: relative; width: 210px;" onfocus="this.placeholder = ''" maxlength="18" required>
                    <p id="middle" style="color: white; float: left; font-size: x-large;">@</p>
                        <input type="text" id="email_address" list="user_email_address" placeholder="직접입력" style="position: relative; width: 211px; text-align: center" maxlength="18" onfocus="this.placeholder = ''"/>
                        <datalist id="user_email_address" >
                            <option value="" selected>직접입력</option>
                            <option value="naver.com">@naver.com</option>
                            <option value="google.com">@google.com</option>
                            <option value="daum.net">@daum.net</option>
                            <option value="hotmail.com">@hotmail.com</option>
                            <option value="korea.com">@korea.com</option>
                            <option value="nate.com">@nate.com</option>
                            <option value="yahoo.com">@yahoo.com</option>
                        </datalist>
                        <input type="hidden" id="totalemail" name="userEmail" value="">
                </div>
                <div>
                    <label for="address_kakao">주소</label>
                    <input type="text" id="address_kakao" placeholder="주소" required/>
                    <input type="text" id="address_detail" placeholder="상세주소" required/>
                </div>
                <div>
                    <button type="submit" class="btn btn-outline-warning" id="btn1">수정하기</button>
                    <button type="reset" class="btn btn-outline-warning" id="btn2">다시작성</button>
                </div>
            </form>


                <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
                <script>
                    window.onload = function(){
                        document.getElementById("address_kakao").addEventListener("click", function(){ //주소입력칸을 클릭하면
                            //카카오 지도 발생
                            new daum.Postcode({
                                oncomplete: function(data) { //선택시 입력값 세팅
                                    document.getElementById("address_kakao").value = data.address; // 주소 넣기
                                    document.querySelector("input[name=address_detail]").focus(); //상세입력 포커싱
                                }
                            }).open();
                        });
                    }
                </script>
                <script>
                    $("#user_email").blur(function(){
                        email();
                    });

                    $("#email_address").change(function(){
                        email();
                    });

                    function email() {
                        const email = $("#user_email").val();
                        const middle = $("#middle").text();
                        const address = $("#email_address").val();
                        if(email != "" && address != "") {
                            $("#totalemail").val(email+middle+address);
                        }
                    };
                </script>
        </div>
    </div>
</body>
</html>