<!DOCTYPE html>
<html lang="ko">
<head>
    <title>버튼</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
</head>
<style>
    button{
        width: 150px;
        height: 44px;
        background-color: #DF9438;
        border: none;
        font-size: 15px;
    }
    button:hover{
        color: white;
        font-weight: bold;
    }
</style>
<body>
<button type="button" class="addBtn">Add To Cart</button>
</body>
</html>