<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{common/layout}">
<head>
    <meta charset="UTF-8">
    <title>Fail</title>
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{ /css/cart/style.css }">
    <style>
        /*div{*/
        /*    border: solid 1px red;*/
        /*}*/
    </style>
</head>
<body>
    <!--전체 div-->
    <div layout:fragment="content" class="container" style="margin: 5% auto 10% auto">
    <br>
        <!--현재 위치-->
        <div class="row">
            <div class="col">
                <span class="big-font">Failed</span>
                <hr class="thick-line">
            </div>
        </div>
        <!--결제 실패 이미지-->
        <div class="row">
            <div class="col-lg" style="text-align: center">
                <img src="/img/cart/fail.png" alt="fail.png">
            </div>
        </div>
        <br>
        <!--실패 알림-->
        <div class="row menu">
            <div class="col-lg" style="text-align: center">
                Payment Failed
            </div>
        </div>
        <br>
            <!--실패 사유-->
        <div class="row menu" th:if="${msg} != null">
            <div class="col-lg" style="text-align: center">
                <span th:text="${msg}"></span>
            </div>
        </div>
        <br>
        <!--실패 사유-->
        <!--        <div class="row menu">-->
        <!--            <div class="col-lg" style="text-align: center">-->
        <!--                No balance-->
        <!--            </div>-->
        <!--        </div>-->
        <!--        <br>-->
        <!--실패 사유-->
        <!--        <div class="row menu">-->
        <!--            <div class="col-lg" style="text-align: center">-->
        <!--                Transaction is denied-->
        <!--            </div>-->
        <!--        </div>-->
        <!--        <br>-->
        <div class="row menu">
            <div class="col-lg" style="text-align: center">
                Try Again
            </div>
        </div>
        <br>
        <hr class="thick-line">
        <!--확인 버튼-->
        <div class="row">
            <div class="col-md-10">
            </div>
            <div class="col-md-2">
                <button class="goldButton" onclick="location.href='trolley'">Confirm</button>
            </div>
        </div>
    </div>
</body>
</html>