<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fail</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href="../../static/css/cart/style.css" rel="stylesheet">
    <style>
        /*div{*/
        /*    border: solid 1px red;*/
        /*}*/
    </style>
</head>
<body>
    <!--전체 div-->
    <div class="container">
        <br>
        <!--현재 위치-->
        <div class="row">
            <div class="col">
                <span class="big-font">Failed</span>
                <hr class="thick-line">
            </div>
        </div>

        <!--결제 실패 이미지-->
        <div class="row">
            <div class="col-lg" style="text-align: center">
                <img src="../../static/img/cart/fail.png" alt="fail.png">
            </div>
        </div>
        <br>

        <!--실패 알림-->
        <div class="row menu">
            <div class="col-lg" style="text-align: center">
                Payment Failed
            </div>
        </div>
        <br>

        <!--실패 사유-->
        <div class="row menu">
            <div class="col-lg" style="text-align: center">
                No balance
            </div>
        </div>
        <br>

        <!--실패 사유-->
        <div class="row menu">
            <div class="col-lg" style="text-align: center">
                Transaction is denied
            </div>
        </div>
        <br>
        <hr class="thick-line">
        
        <!--확인 버튼-->
        <div class="row">
            <div class="col-md-10">
            </div>
            <div class="col-md-2">
                <button>Confirm</button>
            </div>
        </div>
    </div>
</body>
</html>