<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Success</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
<!--    <link href="/css/cart/style.css" rel="stylesheet" type="text/css">-->
    <link rel="stylesheet" type="text/css" th:href="@{ /css/cart/style.css }">
    <style>
        /*div{*/
        /*    border: solid 1px red;*/
        /*}*/
    </style>
</head>
<body>
    <!--전체 div-->
    <div class="container">
        <br>
        <!--현재 위치-->
        <div class="row">
            <div class="col">
                <span class="big-font">Success</span>
                <hr class="thick-line">
            </div>
        </div>
        <!--결제 성공 이미지-->
        <div class="row">
            <div class="col-lg" style="text-align: center">
                <img src="/img/cart/success.png" alt="success.png">
            </div>
        </div>
        <br>
        <!--결제 성공 메세지-->
        <div class="row menu">
            <div class="col-lg" style="text-align: center">
                Payment Success
            </div>
        </div>
        <br>
        <!--주문 번호-->
        <div class="row menu">
            <div class="col-lg-6" style="text-align: right">
                Order Number
            </div>
            <div class="col-lg-6">
<!--                123456789-->
<!--                <span th:text="${paymentNo}"></span>-->
                <span th:text="${paymentNo}"></span>
            </div>
        </div>
        <br>
        <!--결제 금액-->
        <div class="row menu">
            <div class="col-lg-6" style="text-align: right">
                Order Total
            </div>
            <div class="col-lg-6">
                <span th:text="${paymentDTO.paymentAmount}+'$'"></span>
<!--                15,000$-->
            </div>
        </div>
        <br>
        <hr class="thick-line">
        <!--확인 버튼-->
        <div class="row">
            <div class="col-md-10">
            </div>
            <div class="col-md-2">
                <button class="goldButton" onclick="location.href='trolley'">Confirm</button>
            </div>
        </div>
    </div>
</body>
</html>