<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf?.token}">
    <meta name="_csrf_header" th:content="${_csrf?.headerName}">

    <title>Cart</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<!--    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>-->
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{ /css/cart/style.css }">
    <script src="/js/cart/trolley.js"></script>
    <style>
        /*div 확인용*/
        /*div{*/
        /*    border: solid red 1px;*/
        /*}*/
    </style>
    <script th:inline="javascript">
        let size = /*[[ ${cartList.size()} ]]*/;
        let point = /*[[ ${user.point} ]]*/;
        // let productQty =
        //     alert(productQty)
        // alert(size);

        function sum(size) {

            let orderTotal = 0;

            for (let i = 1; i <= size; i++) {
                orderTotal += $("#hiddenPrice" + i).val() * $("#productQty" + i).val()
                // alert($("#hiddenPrice"+i).val())
                // alert($("#productQty"+i).val())
                // const count = $('#productQty'+code).val();
            }
            $("#orderTotal").text(orderTotal+"$")

            // let subTotal = Number(/*[[ ${totalPrice} ]]*/) - Number(/*[[ ${user.point} ]]*/)
            // let subTotal = Number($("#orderTotal").val())-Number($("#point").val())
            let subTotal = orderTotal - $("#point").val()

            if (subTotal < 0) {
                subTotal = 0
            }

            $("#subTotal").text(subTotal+"$")

            $("#userPoint").text(point+"$")
        }

        $(document).ready(function () {
            // alert("페이지 로드")
            sum(size)
        })
        // $(".productQty").addEventListener("onchange", function (){
        //     alert("값 변경")
        //     sum(size)
        // });
    </script>
</head>
<body>
    <!--전체 div-->
    <div class="container">
        <br>
        <!--현재 위치-->
        <div class="row">
            <div class="col">
                <span class="big-font">Cart</span>
                <hr class="thick-line">
            </div>
        </div>
        <!--제목-->
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    Items
                </div>
                <div class="col-lg-1">
                    Qty
                </div>
                <div class="col-lg-2 price">
                    Price
                </div>
            </div>
        </div>
        <!--상품 없을시-->
        <div class="container" th:if="${ cartList.size() } == 0">
            <hr class="line">
            <div class="row">
                <div class="col-lg" style="height: 128px;" >
                    <div class="v-align" style="text-align: center;">
                        <br><br>
                        장바구니에 상품이 없습니다.
                    </div>
                </div>
            </div>
        </div>
        <!--상품 추가시-->
        <th:block th:each="cart : ${ cartList }" th:if="${ cartList.size() } > 0">
            <input type="hidden" class="size" id="size" th:value="${ cartList.size() }">
            <div class="container product-box">
                <hr class="line">
                <div class="row">
                    <!--상품 이미지-->
                    <div class="col-lg-2">
                        <img class="product" src="/img/cart/naverPay.png" alt="상품 이미지명">
<!--                        <img class="product" th:src="/img/cart/${ aa.imgName }" alt="상품 이미지명">-->
                    </div>
                    <!--상품명-->
                    <div class="col-lg-6 v-align">
                        <span th:text="${ cart.productInfo.productName }"/>
                    </div>
                    <!--상품 갯수-->
                    <div class="col-lg-1 v-align">
                        <input type="number" th:id="|productQty${cartStat.count}|" class="productQty"
                               th:onchange="|updateQty(${ cart.cartNo },${ cartStat.count })|"
                               th:value="${ cart.productCount }"
                               min="1" th:max="${ cart.productInfo.productQty }"
                               style="width: 50px" required>
                    </div>
                    <!--상품 가격-->
                    <div class="col-lg-2 v-align price">
                        <span th:id="|price${cartStat.count}|" th:text="${ cart.productInfo.productPrice }" th:value="${ cart.productInfo.productPrice }"/>$
                        <input th:id="|hiddenPrice${cartStat.count}|" th:value="${ cart.productInfo.productPrice }" type="hidden">
                    </div>
                    <!--상품 삭제-->
                    <div class="col-lg-1 v-align price">
                            <!--타임리프 이용해서 자바 메소드를 호출해보려 했는데 페이지 로드시 실행됨-->
<!--                        <a th:onclick="|${@cartServiceImpl.deleteProductInCart(cart.cartNo)}|" href="trolley">-->
<!--                        <a th:onclick="|deleteProductInCart(${ cart.cartNo })|" href="trolley">-->
<!--                            <img src="/img/cart/trash.png" alt="trash.png">-->
<!--                        </a> -->
<!--                        <button type="button" class="trashCan" th:onclick="|deleteProductInCart(${ cart.cartNo })|">-->
<!--                            <img src="/img/cart/trash.png" alt="trash.png">-->
<!--                        </button>-->
                        <input type="image" th:onclick="|deleteProductInCart(${ cart.cartNo })|" src="/img/cart/trash.png" alt="trash.png"/>
                    </div>
                </div>
            </div>
        </th:block>

        <hr class="thick-line">
        <!--결제 금액-->
        <div class="row">
            <div class="col-lg-9">

            </div>

            <div class="col-lg-2">
                Order Total
            </div>

            <div class="col-lg-1 price">
    <!--            3000$-->
                <span id="orderTotal" th:text="${ totalPrice }" th:value="${ totalPrice }"/>
            </div>
        </div>
        <!--포인트(할인 가격)-->
        <input id="point" type="hidden" th:value="${ user.point }">
        <div class="row">
            <div class="col-lg-9">

            </div>
            <div class="col-lg-2">
                <!--                Discount Price(Point)-->
                Point
            </div>
            <div class="col-lg-1 price">
<!--                <span id="userPoint" th:text="${ user.point }" th:value="${ user.point}"/>$-->
                <span id="userPoint"/>
            </div>
        </div>
        <!--합산 가격-->
        <div class="row">
            <div class="col-lg-9">
            </div>
            <div class="col-lg-2">
                Sub Total
            </div>
            <div class="col-lg-1 price">
                <span id="subTotal"/>
            </div>
        </div>
        <br>
        <!--구매 버튼-->
        <div class="row">
            <div class="col-lg-10">
            </div>
            <div class="col-lg-2">
                <button class="goldButton" onclick="location.href='order'">Purchase</button>
            </div>
        </div>
    </div>
</body>
</html>