<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <!--    <link href="/css/cart/style.css" rel="stylesheet" type="text/css">-->
    <link rel="stylesheet" type="text/css" th:href="@{ /css/cart/style.css }">
    <style>
        /*div 확인용*/
        /*div{*/
        /*    border: solid red 1px;*/
        /*}*/
    </style>
<!--    <script>-->
<!--        $.ajax({-->
<!--            type : 'post',           // 타입 (get, post, put 등등)-->
<!--            url : '/cart/trolley',   // 요청할 서버url-->
<!--            async : true,            // 비동기화 여부 (default : true)-->
<!--            headers : {              // Http header-->
<!--                "Content-Type" : "application/json",-->
<!--                "X-HTTP-Method-Override" : "POST"-->
<!--            },-->
<!--            dataType : 'text',       // 데이터 타입 (html, xml, json, text 등등)-->
<!--            data : JSON.stringify({  // 보낼 데이터 (Object , String, Array)-->
<!--                "no" : no,-->
<!--                "name" : name,-->
<!--                "nick" : nick-->
<!--            }),-->
<!--            success : function(result) { // 결과 성공 콜백함수-->
<!--                console.log(result);-->
<!--            },-->
<!--            error : function(request, status, error) { // 결과 에러 콜백함수-->
<!--                console.log(error)-->
<!--            }-->
<!--        })-->
<!--    </script>-->
</head>
<body>
<!--전체 div-->
<div class="container">
    <br>
    <!--현재 위치-->
    <div class="row">
        <div class="col">
            <span class="big-font">Cart</span>
            <!--아이디 넘어오는지 확인-->
            <!--                <span th:text="${ userId }"></span>-->
            <hr class="thick-line">
        </div>
    </div>

    <!--제목-->
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                Items
            </div>
            <div class="col-lg-1">
                Qty
            </div>
            <div class="col-lg-2 price">
                Price
            </div>
        </div>
    </div>

    <!--상품 없을시-->
    <div class="container" th:if="${ cartList.size() } == 0">
        <hr class="line">
        <div class="row">
            <div class="col-lg" style="height: 128px;" >
                <div class="v-align" style="text-align: center;">
                    <br><br>
                    장바구니에 상품이 없습니다.
                </div>
            </div>
        </div>
    </div>

    <!--상품 추가시-->
    <th:block th:each="cart : ${ cartList }" th:if="${ cartList.size() } > 0">
        <div class="container">
            <hr class="line">
            <div class="row">
                <div class="col-lg-2">
                    <img class="product" src="/img/cart/naverPay.png" alt="상품 이미지명">
                    <!--                    <img class="product" src="/img/cart/">-->
                </div>
                <div class="col-lg-6 v-align">
                    <span th:text="${cart.productInfo.productName}"/>
                </div>
                <div class="col-lg-1 v-align">
                    <table style="padding-left: 3px">
                        <tr>
                            <td rowspan="2">
                                <span th:text="${ cart.productInfo.productQty }"/>
                            </td>
                            <td style="padding-bottom: 0">
<!--                                max 최대값, pattern 정규식-->
                                <input type="number" th:value="${ cart.productInfo.productQty }" min="1" required style="width: 50px"/>
                                <a th:action="${ @cartServiceImpl.increaseProduct( cart.cartNo )}" href="#none">▲</a>
<!--                                <a th:action="${ @cartServiceImpl.increaseProduct(${cart.cartNo})}" th:href="" style="display: block">▼</a>-->

<!--                                        th:onclick="${ @cartServiceImpl.increaseProduct(${cart.cartNo})}"-->
    <!--                            <button th:onclick="${ @CartService.increaseProduct(${ cart.cartNo })}">▲</button>-->
    <!--                            <button th:action="${ @cartServiceImpl.increaseProduct(${ cart.cartNo })}" />▲</button>-->
    <!--                            <button th:action="${ @cartServiceImpl.increaseProduct(${cart.cartNo})}" />▲</button>-->
    <!--                            <a th:text="'▲'" th:onclick="">▲</a>-->
<!--                                <button onclick="alert('a')">얼럿</button>-->
<!--                                <button onclick="increase()">인크리즈</button>-->
                                <script th:inline="javascript">
                                    function increase(){
                                        let b = [[${ cart.cartNo }]];
                                        alert(b);
                                    }
                                </script>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-top: 0">
    <!--                            <span th:text="${ @cartServiceImpl.decreaseProduct(${ cart.cartNo })}" />▼</a>-->
    <!--                            <a href="javascript: alert('아래');" style="display: block">▼</a>-->
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-lg-2 v-align price">
                    <span th:text="${ cart.productInfo.productPrice }"/>$
                </div>
                <div class="col-lg-1 v-align price">
                    <img src="/img/cart/trash.png" alt="trash.png">
                </div>
            </div>
        </div>
    </th:block>
    <!--        상품 추가시 끝-->

    <hr class="thick-line">
    <!--합산 가격-->
    <div class="row">
        <div class="col-lg-9">
        </div>
        <div class="col-lg-2">
            Sub Total
        </div>
        <div class="col-lg-1 price">
            3000$
        </div>
    </div>

    <!--할인 가격-->
    <div class="row">
        <div class="col-lg-9">

        </div>
        <div class="col-lg-2">
            Discount Price
        </div>
        <div class="col-lg-1 price">
            13,000$
        </div>
    </div>

    <!--결제 금액-->
    <div class="row">
        <div class="col-lg-9">

        </div>
        <div class="col-lg-2">
            Order Total
        </div>
        <div class="col-lg-1 price">
            3000$
        </div>
    </div>
    <br>

    <!--구매 버튼-->
    <div class="row">
        <div class="col-lg-10">
        </div>
        <div class="col-lg-2">
            <button onclick="location.href='order'">Purchase</button>
        </div>
    </div>
</div>
</body>
</html>