<!DOCTYPE html>
<html layout:decorate="~{/common/layout}" lang="ko" xmlns:th="<http://www.thymeleaf.org>">

<div layout:fragment="content" class = "container my-3">
<table class="table">
  <thead class="table-dark">
  <tr>
    <th>번호</th>
    <th>제목</th>
    <th>작성일시</th>
  </tr>
  </thead>
  <tbody>
  <tr th:if="${#lists.size(list)} > 0" th:each="list, loop: ${list}">
    <td th:text="${loop.size - loop.count+1}"></td>
<!--        <td th:text="${loop.count}"></td>-->
    <td>
      <a href="detail/" th:attrappend="href=${list.boardNo}" th:text="${list.boardTitle}"></a>
    </td>
    <td th:text="${#temporals.format(list.createDate, 'yyyy-MM-dd HH:mm')}"></td>
  </tr>

  </tbody>
</table>
  <a th:href="@{/question/create}" class="btn btn-primary">질문 등록하기</a>
</div>



</html>