<html layout:decorate="~{/common/layout}" lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<!--  <script type="text/javascript" th:src="@{/js/qna/boardDetail.js}"></script>-->
</head>

<div layout:fragment="content" class="container my-3">
  <!-- 질문 -->
  <h2 class="border-bottom py-2" th:text="${question.boardTitle}"></h2>
  <div class="card my-3">
    <div class="card-body">
      <div class="card-text" style="white-space: pre-line;" th:text="${question.boardContent}"></div>
      <div class="d-flex justify-content-end">
        <div class="badge bg-light text-dark p-2 text-start">
          <div th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></div>
        </div>
      </div>
      <!-- 질문 수정 -->
      <div class="my-3">
        <a th:href="@{|/question/modify/${question.boardNo}|}" class="btn btn-sm btn-outline-secondary" th:text="수정"></a>

        <!-- 질문 삭제-->
          <a href="javascript:void(0);" th:data-uri="@{|/question/delete/${question.boardNo}|}"
             class="delete btn btn-sm btn-outline-secondary" th:text="삭제"></a>
      </div>
    </div>
  </div>

<!-- 게시글 삭제 스크립트 -->
<script layout:fragment="script" type='text/javascript'>
    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            if(confirm("정말로 삭제하시겠습니까?")) {
                location.href = this.dataset.uri;
            };
        });
    });



</script>
</html>