<html lang="ko">
<div class="container my-3">
  <div class="content">
    <br><br>
    <div class="innerOuter">
      <h2>게시글 상세보기</h2>
      <br>

      <br><br>
      <table id="contentArea" align="center" class="table">
        <tr>
          <th>제목</th>
          <td colspan="3" th:text="${ question.boardTitle }"></td>
        </tr>
        <tr>
          <th>작성일</th>
          <td th:text="${ question.createDate }"></td>
        </tr>
        <tr>
          <th>내용</th>
          <td colspan="3"></td>
        </tr>
        <tr>
          <td colspan="4" th:text="${ question.boardContent }"></td>
        </tr>
      </table>
      <br>
    </div>
  </div>
</div>
</html>