<!DOCTYPE html>
<html layout:decorate="~{/common/layout}" lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>PhotoFolio Bootstrap Template - Gallery Single</title>
    <meta content="" name="description">
    <meta content="" name="keywords">


    <!-- ===== Bootstrap ===== -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <!-- Template Main CSS File -->
<!--    <link href="/css/common/main.css" rel="stylesheet">-->
    <link href="/css/qna/faq.css" rel="stylesheet" >
</head>

<body>

        <!-- Body Start -->

        <!-- ====== FAQ Body ====== -->
        <div layout:fragment="content" class="container">
            <div class="row">
                <div class="col">
                    <img src="/img/qna/5216607.png" width="100%" height="100%" alt="그림.png">
                </div>
                <div class="col">
                    <div class="row card my-4 mb-3 pd-l-2" style="background-color:black">
                        <h3>
                            <span class=" fa fa-question-circle text-white"></span>
                            Frequently Asked Questions
                        </h3>
                    </div>

                    <div class="row">
                        <p class="col-sm-6 col-md-12">
                            고객님의 궁금한 사항을 친절히 안내해 드리도록 늘 노력하겠습니다.
                        </p>
                        <br>
                        <ul id="accordion" class="col-sm-6 col-md-12">
                            <!-- Question one -->
                            <li>
                                <div id="choose" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                    aria-controls="collapseOne">
                                    반품 / 교환 배송비는 어떻게 되나요?
                                    <span class="fa fa-chevron-up fa-1x text-info pull-right"></span>
                                </div>
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        불량, 파손 등 상품에 문제가 있거나 주문 내역과 다른 상품이 배송 되었을 경우 7일 이내에 환불이 가능하며, 배송비는 본 사이트에서
                                        부담합니다. 단순 변심에 의한 경우에는 고객님께서 배송비를 부담하여야 하며, 도서산간 지역은 추가 배송비가 발생합니다.
                                    </div>
                                </div>
                            </li>

                            <!-- Question two -->
                            <li>
                                <div class="collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                    aria-expanded="false" aria-controls="collapseTwo">
                                    배송기간은 어떻게 되나요?
                                    <span class="fa fa-chevron-down fa-1x text-info pull-right"></span>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        평균 상품 결제일 ~ 7일 이내 수령 가능합니다. (휴일 제외)
                                    </div>
                                </div>
                            </li>

                            <!-- Question three -->
                            <li>
                                <div class="collapsed" data-toggle="collapse" data-target="#collapseThree"
                                    aria-expanded="false" aria-controls="collapseThree">
                                    배송상품 환불 접수는 어떻게 하나요?
                                    <span class="fa fa-chevron-down fa-1x text-info pull-right"></span>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        배송 상품 환불은 [마이페이지 > 구매내역]에서 요청 가능합니다.
                                    </div>
                                </div>
                            </li>

                            <!-- Question Four -->
                            <li>
                                <div class="collapsed" data-toggle="collapse" data-target="#collapseFour"
                                    aria-expanded="false" aria-controls="collapseFour">
                                    고객센터의 상담 시간을 알고 싶어요.
                                    <span class="fa fa-chevron-down fa-1x text-info pull-right"></span>
                                </div>
                                <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        - 상담 시간 : 평일 오전 10시 00분 ~ 오후 5시 30분
                                        <br>
                                        - 점심 시간 : 오전 12시 00분 ~ 오후 1시 00분 / 주말, 공휴일 휴무
                                        <br>
                                        ※ 문의량이 많을 경우 상담 연결 및 답변이 지연될 수 있습니다.
                                        <br>
                                        최대한 빠른 답변위해 노력하겠습니다.
                                    </div>
                                </div>
                            </li>

                            <!-- Questiion Five -->
                            <li>
                                <div class="collapsed" data-toggle="collapse" data-target="#collapseFive"
                                    aria-expanded="false" aria-controls="collapseFive">
                                    비회원으로 주문이 가능한가요?
                                    <span class="fa fa-chevron-down fa-1x text-info pull-right"></span>
                                </div>
                                <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        안타깝게도, 현재는 회원가입 하신 회원에 한하여 주문이 가능합니다.
                                    </div>
                                </div>
                            </li>

                            <!-- Question Six-->
                            <li>
                                <div class="collapsed" data-toggle="collapse" data-target="#collapseSix"
                                    aria-expanded="false" aria-controls="collapseSix">
                                    회원 탈퇴는 어떻게 하나요?
                                    <span class="fa fa-chevron-down fa-1x text-info pull-right"></span>
                                </div>
                                <div id="collapseSix" class="collapse" aria-labelledby="headingTwo"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        마이페이지 하단에서 '회원탈퇴' 버튼을 통해 하실 수 있습니다.
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- ====== FAQ 함수 ====== -->
        <script>
            $(function () {
                $("div[data-toggle=collapse]").click(function () {
                    $(this).children('span').toggleClass("fa-chevron-down fa-chevron-up");
                });
            })
        </script>

        <!-- Body end -->

    </main><!-- End #main -->



    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <div id="preloader">
        <div class="line"></div>
    </div>



    <!-- ===== main effect js ===== -->
    <script src="/js/common/main.js"></script>
    <!-- ===== Bootstrap ====== -->
        <script  src="http://code.jquery.com/jquery-latest.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
                 crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
        integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
        crossorigin="anonymous"></script>


</body>

</html>