<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        .line{
            border: solid 0.5px white;
            background-color: white;
        }
        .thick-line{
            border: solid 2px white;
            background-color: white;
        }
        body{
            background-color: black;
            color: white;
        }
        div{
            border: solid red 1px;
        }
    </style>
</head>
<body>
    <!--전체 div-->
    <div class="container" style="margin: 5% 15% 5% 15%">
        <div class="row">
            <!--현재 위치-->
            <div class="col">
                <a href="/">Home</a>/Cart
                <hr class="thick-line">
            </div>
        </div>

        <div class="row">
            <div class="col-md-1">
                Item
            </div>
            <div class="col-md-4">
                Item
            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-1">
                Price
            </div>
            <div class="col-md-1">

            </div>
        </div>

        <hr class="line">

        <div class="row">
            <div class="col">
                <br>
                <hr class="thick-line">
            </div>
        </div>

    </div>
</body>
</html>