<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href="/static/css/04/style.css" rel="stylesheet">
    <style>
        /*div 확인용*/
        div{
            border: solid red 1px;
        }
    </style>
</head>
<body>
    <!--전체 div-->
    <div class="container">
        <br>
        <!--현재 위치-->
        <div class="row">
            <div class="col">
                <span class="menu">Cart</span>
                <hr class="thick-line">
            </div>
        </div>

        <!--제목-->
        <div class="row">
            <div class="col-lg-9">
                Items
            </div>
            <div class="col-lg-2 qty">
                Qty
            </div>
            <div class="col-lg-1 price">
                Price
            </div>
        </div>

        <!--상품 추가시-->
        <hr class="line">
        <div class="row">
            <div class="col-lg-2">
                <img class="product" src="/img/04/naverPay.png" alt="상품명">
            </div>
                <div class="col-lg-7" style="display: flex; align-items: center; flex: auto">
                    asdasdasdasdassdahjabkewutheruieruwitwbtqewuiewtiuewhtewuiqtqwetyqwgtwaa
<!--                    <p style="word-wrap: break-word">asdasdasdasdassdahjabkewutheruieruwitwbtqewuiewtiuewhtewuiqtqwetyqwgtwaa</p>-->
<!--                    <span>aasfasfasffassdjkfewhikegshdfkgieruguieogwheriugwwehguihgaewuighewwiuakjdgbbakghnawbeeebeiuiuwtuiwethow</span>-->
                </div>
            <div class="col-lg-2" style="">
                상품 갯수를 넣자 
            </div>
            <div class="col-lg-1" style="">
                5,000$
            </div>

        </div>

        <hr class="thick-line">

        <!--합산 가격-->
        <div class="row">
            <div class="col-lg-9">
            </div>
            <div class="col-lg-2">
                Sub Total
            </div>
            <div class="col-lg-1">
                3000$
            </div>
        </div>

        <!--할인 가격-->
        <div class="row">
            <div class="col-lg-9">

            </div>
            <div class="col-lg-2">
                Discount Price
            </div>
            <div class="col-lg-1">
                3000$
            </div>
        </div>

        <!--결제 금액-->
        <div class="row">
            <div class="col-lg-9">

            </div>
            <div class="col-lg-2">
                Order Total
            </div>
            <div class="col-lg-1">
                3000$
            </div>
        </div>
        <br>

        <!--구매 버튼-->
        <div class="row">
            <div class="col-lg-10">

            </div>
            <div class="col-lg-2">
                <button>Purchase</button>
            </div>
        </div>
    </div>
</body>
</html>