<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href="css/style.css" rel="stylesheet">
    <style>
        /*div 확인용*/
        /*div{*/
        /*    border: solid red 1px;*/
        /*}*/
    </style>
</head>
<body>
    <!--전체 div-->
    <div class="container">
        <br>
        <!--현재 위치-->
        <div class="row">
            <div class="col">
                <span class="big-font">Order</span>
                <hr class="thick-line">
            </div>
        </div>

        <!--저장된 주소지 선택-->
        <div class="row">
            <div class="col-md mid-font">
                Default
            </div>
            <div class="col-md mid-font">
                New
            </div>
            <div class="col-md mid-font">
                Other
            </div>
        </div>
        <hr class="line">

        <!--주소지 입력 파트-->
        <div class="row">
            <div class="col-md">
                Name Recipient
            </div>
            <div class="col-md">
                Phone
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <input type="text" class="form-control" placeholder="Name" name="text1">
            </div>
            <div class="col-md">
                <input type="text" class="form-control" placeholder="010-1234-5678" name="text1">
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-md">
                Address
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <input type="text" class="form-control" placeholder="Zip Code" name="zipcode">
            </div>
            <div class="col-md">
                <button style="width: 100%; height: 100%">Find Address</button>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-md">
                <input type="text" class="form-control" placeholder="Address" name="text1">
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-md">
                <input type="text" class="form-control" placeholder="Detail" name="text1">
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-md">
                <div class="form-group">
                    <label for="comment">Request for delivery</label>
                    <textarea class="form-control" rows="5" id="comment" placeholder="Please write your request."></textarea>
                </div>
            </div>
        </div>

        <!--결제 버튼-->
        <div class="row">
            <div class="col-md-10">

            </div>
            <div class="col-md-2">
                <button>Continue</button>
            </div>
        </div>

    </div>
</body>
</html>