@charset "UTF-8";
/*페이지 설정*/
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap");
body {
  background-color: black;
  color: white;
}

/*전체 폰트 설정*/
@font-face {
  font-family: "BodoniXT"; /*font 이름*/
  src: url(../../../font/BodoniXT.ttf);
}
body {
  font-family: BodoniXT;
  font-size: 1em;
  letter-spacing: 1px;
}

/*파트별 폰트 크기 설정*/
.big-font {
  font-size: 3em;
}

.menu {
  font-size: 2em;
}

.mid-font {
  font-size: 1.5em;
}

/*구분선*/
.line {
  border: solid 0.5px white;
  background-color: white;
}

.thick-line {
  border: solid 2px white;
  background-color: white;
}

/*버튼*/
button {
  width: 150px;
  height: 50px;
  border: solid #FFD700 2px;
  background: rgb(0, 0, 0);
  color: white;
  transition: all 0.9s, color 0.3s;
  overflow: hidden;
}

/*좌우에서 오는 효과*/
/*button:hover{*/
/*    color: black;*/
/*    box-shadow: 150px 0 0 0 #FFD700 inset,*/
/*    -150px 0 0 0 #FFD700 inset;*/
/*}*/
/*button:hover{*/
/*    color: black;*/
/*    box-shadow: 1000px 0 0 0 #FFD700 inset;*/
/*}*/
button,
button::after {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

button {
  background: none;
  display: block;
  position: relative;
}

button::before,
button::after {
  background: #FFD700;
  content: "";
  position: absolute;
  z-index: -1;
}

button:hover {
  color: black;
}

button::after {
  height: 100%;
  left: -5%;
  top: 0;
  transform: skew(-50deg);
  transition-duration: 0.6s;
  transform-origin: top left;
  width: 0;
}

button:hover:after {
  height: 100%;
  width: 135%;
}

.paymentImgBox {
  position: relative;
  border-radius: 5px;
  height: 100px;
  width: 200px;
  overflow: hidden;
  border: solid 2px #FFD700;
}

.paymentImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*카드 결제 페이지*/
* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
}

#root {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 57.22rem;
}
@media (max-width: 62.22rem) {
  #root {
    width: 100%;
    flex-direction: column;
  }
}
@media (max-width: 30rem) {
  #root {
    margin-top: 0.5rem;
  }
}

#card {
  position: relative;
  width: 22.97rem;
  height: 15.5rem;
  margin-bottom: 3rem;
}
@media (max-width: 30rem) {
  #card {
    width: 20.22rem;
    height: 12.75rem;
    margin-bottom: 1.75rem;
  }
}
#card > #card-top, #card > #card-bottom {
  width: 20.22rem;
  height: 12.75rem;
  border-radius: 0.6rem;
}

#card > #card-top {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background: linear-gradient(120deg, #FC5179, #FB5117);
  box-shadow: 1rem 1rem 2.75rem #D7BCC4;
}
#card > #card-top, #card > #card-top * {
  color: white;
  font-family: "Odibee Sans", "Montserrat", sans-serif;
}
#card > #card-top::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("http://cdn.flaticon.com/svg/44/44386.svg") no-repeat center;
  background-size: cover;
  opacity: 0.04;
}
#card > #card-top > .logo {
  position: absolute;
  top: 0.25rem;
  right: 2rem;
}
#card > #card-top > .logo > svg {
  width: 4rem;
}
#card > #card-top > .card-number {
  position: absolute;
  top: 45%;
  left: 2rem;
  width: 70%;
  opacity: 0.75;
  font-size: 1.25rem;
}
#card > #card-top > .row-container {
  position: absolute;
  bottom: 1rem;
  left: 2rem;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  opacity: 0.75;
}
#card > #card-top > .row-container > div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}
#card > #card-top > .row-container > div > span {
  height: 1rem;
  margin-bottom: 0.5rem;
  padding: 0;
}

#card > #card-bottom {
  position: absolute;
  content: "";
  top: 2.75rem;
  left: 2.75rem;
  background: #EFF1F4;
  box-shadow: 0.5rem 0.5rem 2.75rem #ADA9AB;
}
@media (max-width: 30rem) {
  #card > #card-bottom {
    display: none;
  }
}
#card > #card-bottom::after {
  position: absolute;
  content: "";
  top: 2.55rem;
  width: 100%;
  height: 2.55rem;
  background: #E2E0E1;
}

#form {
  width: 27rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  flex-direction: column;
}
@media (max-width: 30rem) {
  #form {
    width: 20.22rem;
  }
}
#form fieldset {
  border: none;
  margin-top: 1rem;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}
#form fieldset input, #form fieldset select {
  width: 100%;
  padding: 0.5rem 1rem;
  outline: none;
}
#form fieldset.card-number input, #form fieldset.card-holder input {
  border: solid 1px #A9A9A9;
  background: transparent;
}
#form .row-container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
#form .row-container fieldset {
  flex: 1;
  margin-right: 1.25rem;
}
#form .row-container fieldset:nth-child(3) {
  margin-right: 0;
}
#form .payment-details {
  margin-top: 1rem;
  width: 100%;
}
#form .payment-details > div {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
#form button {
  color: #DC4039;
  cursor: pointer;
  outline: none;
  background: white;
  border: solid 1px #DC4039;
  border-radius: 0.2rem;
  width: 100%;
  height: 3rem;
  margin-top: 1rem;
}

/*# sourceMappingURL=style.css.map */
