/*페이지 설정*/
body{
  background-color: black;
  color: white;
}
/*전체 폰트 설정*/
@font-face {
  font-family: 'BodoniXT'; /*font 이름*/
  src: url(../../../font/BodoniXT.ttf);
}
body{
  font-family: BodoniXT;
  font-size: 1em;
  letter-spacing : 1px;
}
/*파트별 폰트 크기 설정*/
.big-font{
  font-size: 3em;
}
.menu{
  font-size: 2em;
}
.mid-font{
  font-size: 1.5em;
}
/*구분선*/
.line{
  border: solid 0.5px white;
  background-color: white;
}
.thick-line{
  border: solid 2px white;
  background-color: white;
}
/*버튼*/
button{
  width: 150px;
  height: 50px;
  border: solid #FFD700 2px;
  background: rgb(0, 0, 0);
  color: white;
  transition:all 0.9s, color 0.3s;
  overflow: hidden;
}
/*좌우에서 오는 효과*/
/*button:hover{*/
/*    color: black;*/
/*    box-shadow: 150px 0 0 0 #FFD700 inset,*/
/*    -150px 0 0 0 #FFD700 inset;*/
/*}*/
/*button:hover{*/
/*    color: black;*/
/*    box-shadow: 1000px 0 0 0 #FFD700 inset;*/
/*}*/
button,
button::after {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
button {
  background: none;
  display: block;
  position: relative;
}

button::before,
button::after {
  background: #FFD700;
  content: '';
  position: absolute;
  z-index: -1;
}
button:hover {
  color: black;
}
button::after {
  height: 100%;
  left: -5%;
  top: 0;
  transform: skew(-50deg);
  transition-duration: 0.6s;
  transform-origin: top left;
  width: 0;
}
button:hover:after {
  height: 100%;
  width: 135%;
}
.paymentImgBox{
  position: relative;
  border-radius: 5px;
  height: 100px;
  width: 200px;
  overflow: hidden;
  border: solid 2px #FFD700;
}
.paymentImg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*카드 결제 페이지*/
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

$card-width: 20.22rem;
$card-height: 12.75rem;
$card-radius: 0.6rem;
$form-width: 27rem;
$md: $form-width + 3rem;
$lg: $form-width + $card-width + 15rem;

$primary-color: #40403F;
$secondary-color: #DC4039;
$gradient: linear-gradient(120deg, #FC5179, #FB5117);
$light-gray: #EFF1F4;

body {
  @include flex-center;
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
}

#root {
  margin-top: 5rem;
  @include flex-center;
  justify-content: space-between;
  width: $form-width + $card-width + 10rem;

  @media (max-width: $lg) {
    width: 100%;
    flex-direction: column;
  }

  @media (max-width: $md) {
    margin-top: 0.5rem;
  }
}

#card {
  position: relative;
  width: $card-width + 2.75rem;
  height: $card-height + 2.75rem;
  margin-bottom: 3rem;

  @media (max-width: $md) {
    width: $card-width;
    height: $card-height;
    margin-bottom: 1.75rem;
  }

  & > #card-top, & > #card-bottom {
    width: $card-width;
    height: $card-height;
    border-radius: $card-radius;
  }
}

#card > #card-top {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background: $gradient;
  box-shadow: 1rem 1rem 2.75rem #D7BCC4;

  &, & * {
    color: white;
    font-family: 'Odibee Sans', 'Montserrat', sans-serif;
  }

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('http://cdn.flaticon.com/svg/44/44386.svg') no-repeat center;
    background-size: cover;
    opacity: 0.04;
  }

  & > .logo {
    position: absolute;
    top: 0.25rem;
    right: 2rem;

    & > svg {
      width: 4rem;
    }
  }

  & > .card-number {
    position: absolute;
    top: 45%;
    left: 2rem;
    width: 70%;
    opacity: 0.75;
    font-size: 1.25rem;
  }

  & > .row-container {
    position: absolute;
    bottom: 1rem;
    left: 2rem;
    width: 70%;
    @include flex-center;
    justify-content: space-between;
    opacity: 0.75;

    & > div {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: flex-start;

      & > span {
        height: 1rem;
        margin-bottom: 0.5rem;
        padding: 0;
      }
    }
  }
}

#card > #card-bottom {
  @media (max-width: $md) {
    display: none;
  }
  position: absolute;
  content: "";
  top: 2.75rem;
  left: 2.75rem;
  background: $light-gray;
  box-shadow: 0.5rem 0.5rem 2.75rem #ADA9AB;

  &::after {
    position: absolute;
    content: "";
    top: 0.2 * $card-height;
    width: 100%;
    height: 0.2 * $card-height;
    background: #E2E0E1;
  }
}

#form {
  width: $form-width;
  @media (max-width: $md) {
    width: $card-width;
  }
  @include flex-center;
  align-items: flex-start;
  flex-direction: column;

  & fieldset {
    border: none;
    margin-top: 1rem;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    width: 100%;

    & input, & select {
      width: 100%;
      padding: 0.5rem 1rem;
      outline: none;
    }

    &.card-number input, &.card-holder input {
      border: solid 1px #A9A9A9;
      background: transparent;
    }
  }

  & .row-container {
    @include flex-center;
    justify-content: space-between;
    width: 100%;

    & fieldset {
      flex: 1;
      margin-right: 1.25rem;

      &:nth-child(3) {
        margin-right: 0;
      }
    }
  }

  & .payment-details {
    margin-top: 1rem;
    width: 100%;

    & > div {
      @include flex-center;
      justify-content: space-between;
    }
  }

  & button {
    color: $secondary-color;
    cursor: pointer;
    outline: none;
    background: white;
    border: solid 1px $secondary-color;
    border-radius: 0.2rem;
    width: 100%;
    height: 3rem;
    margin-top: 1rem;
  }
}